*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.content-container{
    padding-top: .8rem;
    width: 100%;
    height: 10rem;
    /* background-color: salmon; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.content-title{
    margin-left: 1rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
}

.content-card{
    margin-left: 1rem;
    height: 6.8rem;
    width: 6.8rem;
    background: #FFE8D5;
    border-radius: 1em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-card-text{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: .65rem;
    line-height: .8rem;

    color: #422811;

    position:absolute;
    bottom: .1rem;

}
.content-card::before{
    position: absolute;
    top: .5rem;
    left: -.5rem;
    content: "";
    height: 6.8rem;
    width: 6.8rem;
    background: #F79240;
    border-radius: 1rem;
    z-index: -1;
}

.scroll-item{
    position: relative;
    scale: .95;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.content-container-2{
    padding-top: .8rem;
    width: 100%;
    height: 13rem;
    /* background-color: salmon; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: red; */
}

.content-card-2{
    width: 7.75rem;
    height: 10rem;
    /* background: #FFE8D5; */
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.content-card-2 img{
    position: absolute;
    top: 0;   
}

.content-card-2-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: .6rem;
    margin-left: .4rem;
    color: #FFFFFF;
}

.card-rating{
    position: absolute;
    left: -.72rem;
    bottom: .9rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    scale: .5;
}


.checked{
    color: white;
}

.length{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    /* identical to box height */


    color: #FFFFFF;
    margin-left : .5rem;
    margin-bottom: .3rem;
}

.content-container-2 .content-card-2::after{
    content: "";
    position: absolute;
    top: 0;
    left: .1rem;
    width: 91%;
    height: 100%;
    background-color: #F79240;
    z-index: -1;
    border-radius: .5rem;
}

.content-container-3{
    padding-top: .8rem;
    width: 100%;
    height: 18rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.content-container-3-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.2rem;
    /* identical to box height */
    margin-left: 1rem;
    color: #000000;
}

.container-3-card{

    position: relative;
    width: 9.8rem;
    height: 15rem;

    background: #F79240;
    border-radius: 30px;
    margin-left: .8rem;
}

.container-3-card-title{
    position: absolute;
    bottom: 4.5rem;
    left: .8rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.9rem;
    /* identical to box height */
    color: #000000;
}

.container-3-card-price{
    position: absolute;
    bottom: 3.5rem;
    left: .8rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    /* identical to box height */


    color: #000000;
}

.see-details{
    position: absolute;
    bottom: 1.5rem;
    left: .8rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: .9rem;
    line-height: 1.3rem;
    /* identical to box height */
    
    color: #000000;
}

.see-details::after{
    content: "";
    /* background: url("next.png"); */
    background: url("next-svgrepo-com.svg");
    /* color: white; */
    width: .8rem;
    height: .8rem;
    background-size: cover;
    background-position: center;
    position: absolute;
    right: -3.5rem;
    /* bottom: .05rem; */
}

.card-img{
    z-index: 100;
    position: absolute;
    left: -1rem;
    top: -.5rem;
}

.spc-btw{
    gap: 1rem;
}