*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.title{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
}

.title-info{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 8px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: center;    
}

.card{
    height: 71px;
    width: 321px;
    background: #F79240;
    border-radius: 20px;
}

.card{
    display: flex;
    align-items: flex-start ;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    gap: 3px;
}

.card.inactive{
    background: #FFE8D5;
}

.card.inactive .title{
    color: #F79240;
}

.card.inactive .title-info{
    color: #F79240;
}

a{
    text-decoration: none;
}