a {
    text-decoration: none;
}

.nav {
    background-color: #FFD9B8;
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.rinAc {
    color: #fff;
    border-radius: 50%;
    transform: scale(1.2);
    background-color: #fff;
    position: relative;
    top: -1rem;

}

.rinAc a {
    background: #F79240;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    transform: scale(0.8);
    color: #fff;
}

.rinAc a i {
    color: #fff;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link {
    display: flex;
    flex-direction: column;
    line-height: 1rem;
    text-align: center;
    text-align: center;
    color: black;
}

a i {
    font-size: 1.5rem;
    color: black;
}

.pols {
    font-size: 0.5rem;
}