*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: 100%;

    flex-direction: column;
    align-items: center;
    
}

.general-container{
    width: 100%;
    height: 17rem;
    /* background-color: salmon;    */
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content-title{

    position: absolute;
    top: .1rem;
    left: 2rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: .75rem;
    line-height: .8rem;
    
    color: #4A4A4A;
    
    opacity: 0.8;

    width: 90%;
    padding-bottom: .3rem;
}

.content-title::after{
    content: "";
    background: #FFD9BA;
    width: 90%;
    height: .1rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.content-container{
    width: 90%;
    height: 90%;
    margin-top: 1.5rem;
    /* background-color: green; */

    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 10%;
}


.content-item{
    width: 100%;
    position: relative;
    padding-top: .5rem;
    padding-bottom: .5rem;
}


.content-item.solo{
    width: 100%;
    position: relative;
    padding-top: .8rem;
    padding-bottom: .8rem;
}

.content-item::before{
    content: "";
    background: url(arrow-next.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.308rem;
    height: 1.661rem;

    position: absolute;
    right: 13%;
    top: 50%;
    transform: translate(0, -50%);
}

.content-item::after{
    content: "";
    background: #FFD9BA;
    width: 88.8%;
    height: .1rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.content-item-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: .81rem;
    line-height: 1rem;
    /* identical to box height */


    color: #000000;
}

.content-item-desc{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.687rem;
    line-height: .81rem;

    color: #8A8A8A;
}

.help-container{
    width: 100%;
    height: 21rem;
    /* background-color: salmon;    */
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mt-2{
    margin-top: 2rem;
}