*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow-x: none; */
}

.container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.user-info-container{
    position: relative;
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info{
    position: relative;
    width: 90%;
    height: 100%;
    background-color: #FFF3E9;
    
    filter: drop-shadow(0px .5em .5em rgba(0, 0, 0, 0.25));
    border-radius: 1em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile-pic{
    z-index: 0;
    position: absolute;
    left: 11%;
    top: 50%;
    transform: translate(0, -50%);
    width: 6.2rem;
    height: 6.2rem;
    background-color: #FFE4CD;
    border-radius: 50%;
}

.profile-pic::after{
    content: "";
    position: absolute;
    background: url("https://webstatic.hoyoverse.com/upload/op-public/2023/02/02/0db9609e038b3fff30811dc6b516d14e_5913542854691633281.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    scale: .5;
}

.profile-desc{
    z-index: -1;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    /* background-color: red; */
}

.profile-name{

    position: absolute;
    top: 13.5%;
    left: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;

    color: #000000;
}
.profile-active{
    position: absolute;
    top: 27%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 0.5625rem;
    line-height: 0.6875rem;

    /* identical to box height */


    color: #616161;
}

.profile-data-container{
    position: absolute;
    top: 68%;
    left: 11%;
    transform: translate(0, -50%);
    width: 100%;
    height: 50%;
    gap: .4rem;
    display: flex;
    flex-direction: column;
}

.profile-data{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 0.625rem;
    line-height: 0.75rem;
    
    color: #000000;
    
}

.pos-rel{
    position: relative;
}

.birth-date::before{
    position: absolute;
    content: "";
    background: url("calendar-frame.png");
    width: .75rem;
    height: .75rem;
    left: -11%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.email::before{
    position: absolute;
    content: "";
    background: url("envelope.svg");
    width: .75rem;
    height: .75rem;
    left: -11%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.phone::before{
    position: absolute;
    content: "";
    background: url("tele.svg");
    width: .75rem;
    height: .75rem;
    left: -11%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.manage-account{
    width: 100%;
    height: 13rem;

    /* background-color: red; */
    position: relative;
}

.manage-title{
    padding-bottom: .4rem;
    margin-left: 1rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.1rem;

    color: #000000;
    /* border-bottom: solid #BBB7B7 1px; */
    position: relative;
}

.manage-title::after{
    content: "";
    background: #BBB7B7;
    width: 95%;
    height: 1%;

    position: absolute;
    bottom: 0;
    left: 0;
}


.manage-item-container{
    padding: .5rem 0;
    position: relative;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.15rem;

    color: #737373;

    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.manage-item{
    width: 85%;
    position: relative;
    left: 15%;
    padding-bottom: .1rem;
}

.manage-item::after{
    content: "";
    background: #FFD9BA;
    width: 94.5%;
    height: .05rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.manage-item::before{
    z-index: 1;
    content: "";
    background: url("arrow.png");
    width: 1rem;
    height: 1rem;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    left: 90%;
    top: 10%;
}

.manage-item img{
    width: 1rem;
    height: 1rem;
    object-fit: scale-down;

    position: absolute;
    left: -8%;
}

.manage-social{
    width: 100%;
    height: 5rem;
    /* background-color: red; */
}