*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.order-card{
    width: 21.8rem;
    height: 9.5rem;
    background: #FFF3E9;
    border-radius: 1em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.cardTitle{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #000000;
}

.cardDesc{
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    
    /* background-color: red; */
}

.cardDescImg{
    height: 100%;
    width: 30%;
    object-fit: scale-down;
}
.cardDescContent{
    padding-top: .5rem;
    gap: .1rem;
    padding-left: 1.8rem;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.font-type-1{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
}

.font-type-2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    color: #000000;
}

.click-details{
    position: absolute;
    bottom: .5rem
}

.mt-3{
    margin-top: .3em;
}

a{
    text-decoration: none;
}

.status-card{
    width: 9rem;
    height: 3rem;
    background: #FFE8D5;
    border-radius: 1.1rem;
    /* place the text in center */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.status-card.active{
    background: #F79240;
}